<html>
<head>
  <title>Mozilla Autoland</title>
  <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
  <link href="app.css" type="text/css" rel="stylesheet">
</head>
<body>

  <!-- Header bar -->
  <header>
    <h1>Mozilla Autoland</h1>
  </header>

  <div class="app">
    <div class="instance" data-url="fixtures/example-01-cannot-be-landed.json"></div>
  </div>

  <div class="app">
    <div class="instance" data-url="fixtures/example-02-can-be-landed.json"></div>
  </div>

  <div class="app">
    <div class="instance" data-url="fixtures/example-03-in-progress.json"></div>
  </div>

  <div class="app">
    <div class="instance" data-url="fixtures/example-04-landed.json"></div>
  </div>

  <div class="app">
    <div class="instance" data-url="fixtures/example-05-failed.json"></div>
  </div>


</body>
</html>
